<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD APPLICATION</title>
    <script src="https://kit.fontawesome.com/6332efefc1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <!-- Header -->
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-container">
                    <a href="/" class="nav-brand text-dark">User Managemnt System</a>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header -->